@charset "utf-8";
body { margin:0; padding:0; width:100%; background: url(images/main_bg.gif); }
html { padding:0; margin:0;}

a { text-decoration:none;}
a:hover { text-decoration:underline;}
/* main */
.main { padding:0; margin:0 auto;}
/********** header **********/
.blok_header { margin:0; padding:0; background: url(images/header_bg.gif) top repeat-x;}
.header { width:960px; margin:0 auto; padding:0;}
/* header_text */
.header_text { background: url(images/headet_text_bg.gif) top repeat-x; margin:0; padding:0; height:95px;}
.header_text_resize { width:960px; margin:0 auto; padding:0;}
.header_text h2 { font: normal 36px Arial, Helvetica, sans-serif; color:#3a3a3a; padding:30px 0 0 25px; margin:0;}
/* top_text */
.top_text {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#000;
	padding:15px 0 0 0;
	margin:0;
	width:300px;
	float:left;
}
.top_text a { color:#53d5ff; text-decoration:none;}
/* logo */
.logo { padding:0; margin:0; width:175px; float:left;}
/* menu */	
.menu { padding:30px 0 0 0; margin:0; width:600px; float:right; }
.menu ul { text-align: right; padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:0; border:0;}
.menu ul li a {
	border-right:1px solid #777;
	text-align:left;
	float:left;
	margin:0;
	padding:12px 15px;
	color:#000;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.menu ul li a.last { border:0;}
.menu ul li a span { font: normal 11px Arial, Helvetica, sans-serif; color:#838383; text-decoration:none;}
.menu ul li a:hover {
	color:#666;
}
.menu ul li a:hover span { color:#53d5ff;}
.menu ul li a.active { color:#fffefe;}
.menu ul li a.active span { color:#53d5ff;}
/* search */
.search { padding:13px 0 10px 0; margin:0; width:320px; float:right;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background: url(images/search_bg.gif) left top no-repeat; width:167px; padding:0 5px; height:27px;}
.search form .keywords { font:normal 12px Arial, Helvetica, sans-serif; background:none; color:#fff; line-height:15px; height:15px; float:left; border:0; padding:6px 0; margin:0;}
.search form .button { float:left; margin:0; padding:0;}
/* Ca3er style */
.cu3er_resize { width:960px; margin:0 auto; padding:0 0 50px 0; background: url(images/simple_bg.gif) no-repeat bottom;}
#cu3er-container { width:960px; outline:0; }
/********** body **********/
.body_resize { margin:0; padding:0; background:#fbfbfb;}
.body { width:940px; margin:0 auto; padding:10px 10px;}
.body h2 {font: normal 24px Arial, Helvetica, sans-serif; color:#171717; margin:0; padding:2px 0;}
.body h2 span { font: normal 11px Arial, Helvetica, sans-serif; color:#fff; background:#c6c6c6; padding:3px;}
.body img { padding:0; margin:10px auto;}
.body img.floated { float:left; padding:0; margin:10px 15px 10px 0;}
.body ul {
	list-style:none;
	margin:10px auto;
	padding:10px 0;
	font-size: 14px;
}
.body li {
	border-bottom:1px solid #dbdbdb;
	padding:5px;
	margin:0;
	color:#606060;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.body li a { font: normal 11px Arial, Helvetica, sans-serif; color:#7d7d7d; text-decoration:none;}
.body li a:hover { color:#53d5ff; font-weight:bold;}
.body p {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#605f5f;
	line-height:1.5em;
	padding:5px 0;
	margin:0;
	font-size: 14px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}
.body a { text-decoration:none; color:#53d5ff;}
.right { width:235px; float:right; padding:10px 15px; margin:0;}
.left {
	width:630px;
	float:left;
	padding:10px 15px;
	margin:0;
	font-size: 14px;
}
.port_resize { width:280px; float:left; padding:10px 15px; margin:0;}
/*FBG*/
.FBG { background:#f0f0f0; border-top:1px solid #e8e8e8; margin:0; padding:0;}
.FBG_resize { width:940px; margin:0 auto; padding:10px 10px;}
.FBG_resize img { float:left; margin:3px 2px; padding:0;}
.FBG_resize p { font: normal 11px Arial, Helvetica, sans-serif; color:#605f5f; padding:5px; margin:0; line-height:1.5em;}
.FBG_resize p span { color:#53d5ff;}
.FBG_resize h2 { font: bold 14px Arial, Helvetica, sans-serif; color:#4f4f4f; padding:5px; margin:0;}
.FBG_resize .left { width:215px; float:left; margin:0; padding:20px 10px;}
/* END_bloga*/
/*************footer**********/
.footer {padding:0; margin:0; background:#f0f0f0; }
.footer_resize { width:940px; margin:0 auto; padding:20px 15px; border-top:1px solid #d9d9d9;}
.footer p { font:normal 11px Arial, Helvetica, sans-serif; color:#3e3d3d;}
.footer a { font:bold 11px Arial, Helvetica, sans-serif; color:#3e3d3d; text-decoration:none; padding:5px; margin:0;}
.footer p.right { text-align:right; width:350px; margin:0; padding:15px 0 0 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:15px 0 0 0; float:left;} 
/********** contact form **********/
#contactform { margin:0; padding:5px 0;}
#contactform * { color:#7a7a7a;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:5px 0; background:none; border:none; clear:both;}
#contactform li.buttons { margin:5px 0;}
#contactform label { margin:0; padding:5px 0; font:normal 11px Arial, Helvetica, sans-serif; color:#6a6a60; text-transform:capitalize; height:20px; line-height:20px;}
#contactform label span { font:normal 10px Arial, Helvetica, sans-serif;}
#contactform input.text { width:200px; border:1px solid #e1e1e1; margin:0 20px 0 0; padding:5px; height:15px; background:#f8f8f8; float:left;}
#contactform textarea { width:350px; border:1px solid #e1e1e1; margin:0 20px 0 0; padding:5px; background:#f8f8f8; height:150px; float:left;}
#contactform li.buttons input { padding:3px 0; margin:0; border:0; color:#FFF;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.5em; width:auto;}

p.clr, .clr { clear:both; padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px solid #dedede; padding:10px 0 0 0; margin:0 0 10px 0; background:none; list-style:none;}
.bold {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.list {
	list-style-position: inside;
	list-style-type: circle;
}
.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
